@page "/"

<div>
<TelerikTileLayout Columns="4"
                   Height="100%"
                   Width="100%"
                   ColumnSpacing="10px"
                   RowSpacing="10px"
                   Resizable="true"
                   Reorderable="true"
                   Class="">
    <TileLayoutItems>
        <TileLayoutItem RowSpan="2" ColSpan="4" class="bg-primary text-white fs-4">
            <Content>Home</Content>
        </TileLayoutItem>
        <!-- <TileLayoutItem HeaderText="Location Select" RowSpan="6" ColSpan="1">
            <TelerikListView Data="@Data"
                Pageable="true">
                <HeaderTemplate>
                </HeaderTemplate>
                <Template>
                </Template>
            </TelerikListView>
        </TileLayoutItem> -->
        <TileLayoutItem HeaderText="Location Select" RowSpan="6" ColSpan="1">
            <Content>
                <div style="height: 100%; overflow: hidden;">
                    @* <TelerikListView Data="@Data"
                                     Height="100%">
                        <Template>
                            <div class="p-3 border-bottom list-item-hover">
                                <div class="fw-bold text-primary">@context.Name</div>
                                <div class="small text-muted">
                                    <i class="k-icon k-i-marker-pin"></i> @context.Location
                                </div>
                            </div>
                        </Template>
                    </TelerikListView> *@
                </div>
            </Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Account Details" RowSpan="6" ColSpan="3">
            <Content>
                @* <TelerikGrid Data="@Data" Height="100%" Pageable="true" PageSize="5">
                    <GridColumns>
                        <GridColumn Field="@nameof(SampleData.Name)" Title="Facility" />
                        <GridColumn Field="@nameof(SampleData.Location)" Title="Location" />
                        <GridColumn Field="@nameof(SampleData.Projects)" Title="Active Projects" Width="150px" />
                        <GridColumn Field="@nameof(SampleData.Status)" Title="Status">
                            <Template>
                                @{
                                    var item = context as SampleData;
                                    <span class="badge @(item.Status == "Active" ? "bg-success" : "bg-warning")">@item.Status</span>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid> *@
            </Content>
        </TileLayoutItem>
    </TileLayoutItems>
</TelerikTileLayout>

</div>

<style>
    #home-page {
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;
        text-align: center;
        font-size: var(--kendo-font-size-xl);
    }

    @@media (min-height: calc(56px + 50px + 400px)) {
        #home-page {
            margin-top: calc(40vh - 28px - 25px - 200px);
        }
    }

    .tile-header {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

    
</style>